@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Seaweed+Script&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;    /* 56 px*/
    /*========== Colors ==========*/
	--mau-trang:#fff;
    --mau-den:#101010;
	--mau-xam:#b1b1b1;
	--mau-vang:#feb618;
	--mau-do:#ef4415;
	--mau-xanh:#3fda7d;
	--title-color:#101010;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/

    --body-font: "Inter", sans-serif;
    --second-font: 'Seaweed Script', cursive;
    --biggest-font-size: 3rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
	--font-bold: 700;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
		--biggest-font-size: 5.5rem;  /* 88 px*/
		--big-font-size: 3rem;        /* 48 px*/
		--h1-font-size: 2.25rem;      /* 36 px*/
		--h2-font-size: 1.5rem;       /* 24 px*/
		--h3-font-size: 1.25rem;      /* 20 px*/
		--normal-font-size: 1rem;     /* 16 px*/
		--small-font-size: .875rem;   /* 14 px*/
    }
}

/*=============== BASE ===============*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body,
input,
button {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

body {
	font-family: var(--body-font);
}

input,
button {
	border: none;
	outline: none;
}

h1, h2, h3, h4 {
	color: var(--title-color);
	font-weight: var(--font-medium);
	line-height: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
	max-width: 1120px;
	margin-inline: 1.5rem;
}

.grid {
	display: grid;
	gap: 1.5rem;
}

.section {
	padding-block: 5rem 1rem;
}

.section__title {
	font-size: var(--big-font-size);
	font-family: var(--second-font);
	text-align: center;
	margin-bottom: 1rem;
}

.main {
	overflow: hidden; /* For animation ScrollReveal */
}  
/*=============== HEADER & NAV ===============*/
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: var(--header-height);
	z-index: var(--z-fixed);
	box-shadow:0 2px 16px hsla(0, 0%, 0%, .2);
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	background-color: var(--mau-trang);
}

.nav__data {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.nav__toggle {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;	
	height: 2rem;
	width: 2rem;
	transition: opacity .2s,transform .4s;
}

.nav__burger,.nav__close {
	position: absolute;
	color: var(--mau-den);
	font-size: 1.5rem;
	font-weight: var(--font-semi-bold);
	transition: opacity .2s,transform .4s;
	cursor: pointer;
}

.nav__close {
    opacity: 0;
}

.show-icon .nav__close{
	opacity: 1;
	transform: rotate(90deg);
}

.show-icon .nav__burger{
	opacity: 0;
	transform: rotate(90deg);
}



@media screen and (max-width:1150px) {

	.nav__menu {
		position: fixed;
        width: 100%;
        height: auto;
        padding-block: 3.5rem;
        overflow: auto;       
        transition: right .4s ease-in, opacity .4s ease-in;
        opacity: 0;
		top: 0;
        right:-100%;
        background-color: var(--mau-trang);
		box-shadow:0 2px 16px hsla(0, 0%, 0%, .2);
	}	
}

.show-menu {
	opacity: 1;
	right: 0;
}

.nav__list {
	display: flex;
	flex-direction: column;
	gap: 3.5rem;
	text-align: center;
	font-size: var(--normal-font-size);
}

.nav__link {
	color: var(--title-color);
	font-size: var(--normal-font-size);
	font-size: var(--font-semi-bold);
	transition: color .4s;
}

.nav__link:hover {
	
	color: var(--mau-do);
	cursor: pointer;
}

/* Home */
.home__subtitle {
	font-family: var(--second-font);
	color: var(--mau-do);
	font-size: 2.75rem;	
}

.home__title { 
	font-family: var(--body-font);
	font-size: 3.875rem;
	/* font-weight: var(--font-semi-bold); */
	padding-top: .5rem ;
	padding-bottom: .5rem ;
	line-height: 4.5rem;
	font-weight: var(--font-bold);
}

.home__desc {
	font-size: 1.125rem;
	font-weight: var(--font-regular);
	color: var(--mau-den);
	font-family:var(--body-font);
}

.frm__location {
	display: grid;
	gap: .5rem;
	margin-top: 2rem ;
	margin-bottom: 3rem ;
	background-color: var(--mau-trang);
	border:1px solid var(--mau-xanh);
	border-radius: .25rem;	
	grid-template-columns: repeat(2,auto);
	align-items: center;
	/* justify-content: center; */
}

.location__input {
	padding: .5rem;
	border-radius: .5rem;
	width: 100%;
}

.location__input::placeholder {
	font-size: 13px;
	color: var(--mau-xam);
	margin-left: .25rem;
}

.location__submit{
	justify-self: end;
}

.location__icon {	
	width: 2rem;
	padding-left: .5rem;
	padding-right: .5rem;
	
}

.right__arrow {
	background-color: var(--mau-trang);
	border-radius: .5rem;
	margin-left: .25rem;
	padding: .5rem;
	color: var(--mau-xanh);
	font-weight: var(--font-semi-bold);
	font-size: var(--small-font-size);
}

.btn__discover {
	font-size: 13px;
	background:linear-gradient(92deg, #3FDA7D 48.17%, #00BE4C 100%) ;
	padding: 1rem;
	color: white;
	
}

.home__member {
	color: var(--mau-xam);
	font-size: var(--small-font-size);
	font-weight: var(--font-regular);
}

.home__member-sign-in {
	color: var(--mau-do);
	font-weight: var(--font-bold);
}

/* Food near me */

.fnm__data {
	margin-bottom: 1rem;
	display: grid;
	/* justify-content: center;
	align-items: center; */
	align-items: center;
	gap: 2rem;
	grid-template-columns: repeat(2,auto);
}

.fnm__title {
	display: flex;
	font-size: 2rem;
	font-weight: var(--font-bold);
	gap: .5rem;

	justify-content: start;
}

.fnm__scroll {
	justify-self: flex-end;
}

.fnm__item-data {
	display: grid;
	grid-template-columns: repeat(2,minmax(180px,220px));
	justify-content: center;
	align-items: center;
}

.fnm__item-title {
	font-size: var(--h3-font-size);
	color: var(--mau-den);
	font-weight: var(--font-bold);
	margin-bottom: .5rem;
}
.fnm__item-desc p {
	color: var(--mau-xam);
	margin-bottom: .25rem;
}

.fnm__item-price {
	color: var(--mau-do);
	font-weight: var(--font-semi-bold);
	font-size: var(--h3-font-size);
}

.swiper-button-next,.swiper-button-prev {
	color:var(--mau-den);
	font-size: var(--small-font-size);
}